
/* New Page */
.title {
	color: orange;
	font-weight: 700;
	font-size:30px;
	padding-left: 30px;
	margin-left: 10px;
}

.title span{
	color: rgb(3, 250, 3);
	
}


/*The .app box encompasses both the image and description.
Make changes here if you want to modify both elements at the same time*/
.app {
	display: inline-block;
	margin-top: 40px;
	margin: 20px auto;
	margin-left: 20%;
}

.description {
	margin-left: 20px;
	color: orange;
	font-size: 20px;
	font-weight: 100;
}

.desc{
	font-size: 28px;
	color: #fafafa;
}

.desc span{
	color: rgb(3, 250, 3);
}

.hint-star {
	display: inline-block;
	margin-left: 0.3em;
	color: orange;
	width: 70%;
}

.info ul{
	color: orange;
	display: inline-block;
	justify-content: space-between;
	
}
