*{
background-color: black;
}

h2{
    text-align: left;
    color: orange;
    font-weight: bold;
  
}

h3 {
    color: orange;
}

div {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05em;
}

button {
    border-radius: 4px;
    font-size: 18px;
    padding: 2px 30px;
    background-color: orange;
}

input{
    border-radius: 6px;
    padding: 0.5vh;
}

a {
    color: orange;
}

p{
    font-size: 15px;
    color: #f5f5f5;
}

input:hover {
    background-color: #f5f5f5;
    border-color:orange;
    transition: 0.5s;
  }

  button:hover{
    border-color: black;
  }

 