@import url('https://fonts.googleapis.com/css2?family=Faster+One&display=swap');

*{
background-color: black;
}

.logoName{
    text-align: left;
    color: orange;
    font-weight: 300;
    font-size: 1.45em;
    font-family: 'Faster One', cursive;;
  
}

.header {
    color: orange;
}

.container {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.05em;
}

#btn {
    border-radius: 4px;
    font-size: 18px;
    padding: 2px 30px;
    background-color: orange;
    border: none;
}

input{
    border-radius: 20px;
    padding: 1.5vh;
    min-width: 50%;
    border: 2px solid orange;
}

a {
    color: orange;
}

p{
    font-size: 15px;
    color: #f5f5f5;
}

/* input:hover {
    background-color: #f5f5f5;
    border-color:orange;
    transition: 0.5s;
  } */


  .link{
    cursor: pointer;
 }

 .login-card{
    box-shadow: 0 0 8px orange;
    max-width: 400px;
    margin: 0 auto;
    position: relative;
    width: 100%;
    padding: 50px;
 }